
/*#messagingContent {
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    padding: 0 0 0 0;
    background-color: ButtonFace;
}*/


#aHover :hover {
    text-decoration: underline;
}

.statusButton {
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

/*#protected:hover {
    color: red;
}*/




