.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

#aHover :hover {
    text-decoration: underline;
}

.statusButton {
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.backButton {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

    .backButton:hover {
        background-color: white;
        color: dodgerblue;
    }

.followAccountButton:hover {
    color: blue;
    font-weight: bold;
}
