
@{
    ViewBag.Title = "SuccessRegister";
}

<div class="col-md-7 col-md-offset-2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Üye Olma Başarıyla Gerçekleştirildi. Giriş Yapabilirsiniz.</h4>
        </div>
        <div class="panel-body">
            <h3 style="color:red;text-align:center"><span class="glyphicon glyphicon-ok"></span></h3>
        </div>
    </div>
</div>