@model int

@if (Model > 0)
{
    <p style="color:red;padding:0 0 0 0; margin:0 0 0 0;"> <span style="font-size:20px" class="glyphicon glyphicon-envelope"></span></p>
}
else
{
    <span style="font-size:20px" class="glyphicon glyphicon-envelope"></span>
}