@model DiaryShare.MVCWebUI.ViewModels.TrendAccountsViewModel

<div class="panel panel-info">
    <div class="panel-heading">
        <h4>En Aktif Hesaplar</h4>
    </div>
    <div class="panel-body">
        <table class="table-hover">
            @{
                var sayi = 1;
                foreach (var item in Model.AccountForTrendPanelDtos)
                {
                    <tr style="border-top:solid 1px black">

                        <td><a href="#" class="btn" style="text-decoration:none;color:black;"> @sayi - @item.FirstName @item.LastName</a></td>

                    </tr>
                    sayi++;
                }

            }
        </table>
    </div>
</div>
