@model DiaryShare.MVCWebUI.ViewModels.MainPageViewModel


@{
    ViewBag.Title = "Index";
}
<div>
    <div class="col-md-offset-1 col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 style="text-align:center">ANA SAYFA</h4>
            </div>

            <div class="panel-body">
                @{
                    foreach (var item in Model.MainPageDatas)
                    {
                        <article role="article" class="mainDiv">
                            <div>
                                @if (item.ProfilPhotoPath != null)
                                {
                                    <img src="@item.ProfilPhotoPath" alt="Default" />
                                }
                                else
                                {
                                    <img class="thumbnail pull-left" style="width:60px;height:60px;border-radius:30px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="~/Images/DefaultImage.jpg" alt="Default" />
                                }
                            </div>
                            <div style="margin-top:-15px;margin-left:80px">
                                <div>
                                    <h3> @item.FirstName @item.LastName</h3>
                                </div>
                                <div>
                                    <p> @item.DiaryContent</p>
                                </div>
                            </div>
                            <br />
                        </article>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @{Html.RenderAction("_TrendAccounts", "Home");}
    </div>
</div>

